* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: salmon;
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.btn {
  padding: 0.2em 0.8em;
  font-size: 1rem;
  margin-right: 0.5em;
  text-transform: capitalize;
  border: none;
  border-radius: 0.2em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
